# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data folders
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.pkl
!models/.gitkeep

# Virtual environment
venv/
env/
.env

# MacOS
.DS_Store
