# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data folders
data/raw/csv/
data/processed/*
!data/raw/agmarknet_78_TN_*.csv
!data/raw/weather_madurai_*.csv
!data/processed/.gitkeep

# Models
# We must push the .pkl models so Streamlit Cloud can run them
!models/*.pkl

# Virtual environment
venv/
env/
.env

# MacOS
.DS_Store
